Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSL]

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>
